<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>IID Instant Messenger</title>
    <link rel="stylesheet" href="./css/newstyles.css">
</head>

<body>
    <div id="vue-app" ref="app">
        <header>
            <h1>{{title}}</h1>
        </header>
        <main>
            <section id="messages">
                <div v-for="msg in msgs" class="post">
                    <div class="post-bubble" v-bind:class="msg.color">
                        <span class="post-metadata">{{msg.time}} <b v-cloak class="sender">{{msg.sender}}</b></span>
                        <span class="post-text">
                            <a v-bind:href="msg.href" target="_blank" v-cloak>{{msg.text}}</a>
                        </span>
                    </div>
                </div>
            </section>
            <section class="active-users">
                <h3>Users</h3>
                <ul>
                    <li v-for="user in active_users">
                        <span class="user-name" v-bind:class="user.color">{{user.name}}</span>
                        <span class="user-ip" v-bind:class="user.color">{{user.ip}}</span>
                    </li>
                </ul>

            </section>
            <form id="message-creator" v-on:submit.prevent="sendMessage">
                <input type="text" v-model="message" autocomplete="off" ref="msgInput" tabindex="1">
                <input type="submit" value="SEND" />
            </form>
        </main>
        <footer>
            <span>Created by aorf@iid.gr</span>
            <span>
                Powered by
                <a target="_blank" href="https://vuejs.org/">vue.js</a> &amp;
                <a target="_blank" href="https://socket.io/">socket.io</a>
            </span>
        </footer>
    </div>


    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="./scripts/vue-app.js"></script>
    <script src="./scripts/helper.js"></script>
</body>

</html>